* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html *:focus {
  outline: none;
}

button:hover{
cursor: pointer;
}

input{
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  width: 5rem;
  background-color: #404040;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


body {
  background-color: black;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-image: url(img/dinheiro.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.container{
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

.main{
  width: 100%;
  margin: auto;
}

.moedas{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: auto;
}

.dinheiro{
  font-size: 1rem;
}

.somar{
  color: white;
  border-radius: 20px;
  border: solid white 1px;
  background-color: rgba(64, 64, 64, 0.7);
  padding: 5px 10px;
  margin: 20px;
}

.calcular{
  margin: auto;
  grid-column: auto / span 4;
}

@media(max-width:1000px) {
  .container{
    width: 80%;
  }
  .notas, .moedas,.dinheiro{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width:750px) {
.container{
  flex-flow: column wrap;
  width: 80%;
}
.notas, .moedas,.dinheiro{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
}
@media(max-width:480px){
  body{
    font-size: 15px;
  }
  .container{
    min-height: 100%;
  }
}

h2 {
    font-weight: normal;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #404040;
    margin: auto;
    margin-bottom: 10px;
}

#outrasCotacoes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: auto;
}

#outrasCotacoes article{
    text-align: center;
    border-radius: 5px;
    background-color: #404040;
    padding: 10px 0;
}

label{
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-flow: column;
}

label *{
  margin: 4px;
}
#outrasCotacoes article h2{
    color: white;
    display: block;
    font-weight: normal;
    margin: 0;
}

#outrasCotacoes article span{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#outrasCotacoes * {
  text-decoration: none;
}

#cambio{
  display: none;
}
