@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: #ffffff;
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 20px;
  background-image: url(img/dinheiro.jpg);
  background-attachment: fixed;
  display: flex;
  background-size: cover;
}
.container{
  width: 60%;
  border: 1px white solid;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-wrap:wrap;
  height: 100%;
}
.main{
  width: 100%;
  margin: 0 auto;
}
.notas, .moedas{
  min-width: 50%;
  height: 50%;
  margin: 0;
}
.somar{
  color: white;
  border-radius: 20px;
  border: solid white 1px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  margin: 20px;
}
.calcular{
margin: 0 auto;
position: relative;
bottom: 10px;
}
@media(max-width:1000px) {
  .container{
    width: 80%;
  }
  .notas, .moedas,.dinheiro{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width:750px) {
.container{
  flex-flow: column wrap;
  width: 80%;
}
.notas, .moedas,.dinheiro{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
}
@media(max-width:480px){
  body{
    font-size: 15px;
  }
  .container{
    min-height: 100%;
  }
}
